# Photos
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tif
*.tiff
*.webp
*.heic
*.heif
*.raw
*.dng
*.cr2
*.cr3
*.nef
*.arw
*.orf
*.rw2
*.JPG
*.JPEG
*.PNG
*.GIF
*.BMP
*.TIF
*.TIFF
*.WEBP
*.HEIC
*.HEIF

.DS_Store

# README screenshots
!docs/screenshots/
!docs/screenshots/*.png
